<h2 mat-dialog-title>Nuevo cliente</h2>
<mat-dialog-content class="px-2 border-vertical">
<div mat-dialog-content class="p-24 pb-0 m-0">
<form [formGroup]="dialogForm">
    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" class="w-90-p mat-caption m-2 distance">
            <mat-label>Codigo</mat-label>
            <input matInput class="mat-caption" name="codigo" formControlName="codigo">
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" class="w-90-p mat-caption m-2 distance">
            <mat-label>Descripcion</mat-label>
            <input matInput class="mat-caption" name="descripcion" formControlName="descripcion">
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" class="w-90-p mat-caption m-2 distance">
            <mat-label>Correo</mat-label>
            <input matInput class="mat-caption" name="correo" formControlName="correo">
        </mat-form-field>
    </div>
</form>
</div>
</mat-dialog-content>
<div fxLayout="row" fxLayoutAlign="end center">
    <button mat-button (click)="_setDialog()">
        Agregar
    </button>
</div>
