<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_balance_wallet
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Cuentas
                </span>
            </div>

        </div>
        <!-- / APP TITLE -->


    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content w-100-p">

        <!-- CENTER -->
        <div class="center w-100-p p-24 pb-56 pr-sm-92" fusePerfectScrollbar>

            <!-- CONTENT -->
            <div class="content" *ngIf="dataSource">
                <mat-toolbar >
                    <mat-toolbar-row>
                        <mat-icon style="cursor: pointer; margin-right: 2px;" class="cpointer" cuentas-nuevo [data]="{CLA: 'regcontrato', filter: displayFilter}" (afterClosed)="dataTable()" [width]="400">add_circle</mat-icon>
                        <mat-icon style="cursor: pointer; margin-right: 2px;" class="cpointer" filter-dialog [data]="{CLA: 'regcontrato', filter: displayFilter}" (afterClosed)="_setSearch($event)" [width]="250">search</mat-icon>
                        <mat-icon style="cursor: pointer; margin-right: 2px;" class="cpointer" (click)="dataTable()">autorenew</mat-icon>
                        <span class="example-spacer"></span>
                        <mat-paginator
                                [length]="dataSource?.total"
                                [pageSize]="dataSource?.per_page"
                                [pageIndex]="0"
                                (page)="next($event)">
                        </mat-paginator>
                    </mat-toolbar-row>
                </mat-toolbar>

                <table mat-table [dataSource]="dataSource.data" class="content w-100-p mat-elevation-z8">


                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="banco">
                        <th mat-header-cell *matHeaderCellDef> Banco </th>
                        <td mat-cell class=""  *matCellDef="let element"> {{element?.nombre}} </td>
                    </ng-container>

                    <!-- Nombre Column -->
                    <ng-container matColumnDef="tipo">
                        <th mat-header-cell *matHeaderCellDef> Tipo </th>
                        <td mat-cell class="" *matCellDef="let element"> {{element?.tipo}} </td>
                    </ng-container>

                    <!-- Nombre Column -->
                    <ng-container matColumnDef="numero">
                        <th mat-header-cell *matHeaderCellDef> # Cuenta </th>
                        <td mat-cell class="" *matCellDef="let element"> {{element?.numero}} </td>
                    </ng-container>

                    <!-- Nombre Column -->
                    <ng-container matColumnDef="pais">
                        <th mat-header-cell *matHeaderCellDef> País </th>
                        <td mat-cell class="" *matCellDef="let element"> {{element?.pais}} </td>
                    </ng-container>

                    <!-- Nombre Column -->
                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell class="" *matCellDef="let element">  <mat-icon class="m-0 secondary-text alert-50-fg text-center" style="float: right; color:tomato; cursor: pointer;"(click)="deleteOn(element?.id)">delete</mat-icon> </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row (dblclick)="go(row)"  *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CENTER -->
    </div>
    <!-- / CONTENT-->
</div>

