<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">chrome_reader_mode
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Registro de contrato
                </span>
            </div>

        </div>
        <!-- / APP TITLE -->


    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content w-100-p">

        <!-- CENTER -->
        <div class="center w-100-p p-24 pb-56 pr-sm-92" fusePerfectScrollbar>

            <!-- CONTENT -->
            <div class="content" *ngIf="dataEmpleado" >
                <mat-toolbar >
                    <mat-toolbar-row class="bg-white" >
                        <mat-icon style="cursor: pointer; margin-right: 2px;" class="cpointer" contrato-registro-nuevo-dialog [data]="{CLA: 'regcontrato'}" (afterClosed)="dataTable()" [width]="600">note_add</mat-icon>
                        <mat-icon style="cursor: pointer; margin-right: 2px;" class="cpointer" filter-dialog [data]="{CLA: 'regcontrato', filter: displayFilter}" (afterClosed)="_setSearch($event)" [width]="450">search</mat-icon>
                        <mat-icon style="cursor: pointer; margin-right: 2px;" class="cpointer" (click)="dataTable()" >autorenew</mat-icon>
                        <span class="example-spacer"></span>
                        <mat-paginator
                                [length]="dataSource?.total"
                                [pageSize]="dataSource?.per_page" [pageIndex]="0" (page)="next($event)">
                        </mat-paginator>
                        <form [formGroup]="dialogForm" class="w-40-p p-4" style="padding: 4px; margin-top: 10px;">

                        <mat-form-field appearance="outline" class="w-35-p mat-caption m-2 p-4">
                            <mat-label>Fecha de inicio</mat-label>
                            <input matInput [matDatepicker]="dpp_" name="fecha_inicio" formControlName="fecha_inicio"  required>
                            <mat-datepicker-toggle matSuffix [for]="dpp_"></mat-datepicker-toggle>
                            <mat-datepicker #dpp_></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-35-p mat-caption m-2 p-4">
                            <mat-label>Fecha de finalizacion</mat-label>
                            <input matInput [matDatepicker]="dpp" name="fecha_fin" formControlName="fecha_fin"  required>
                            <mat-datepicker-toggle matSuffix [for]="dpp"></mat-datepicker-toggle>
                            <mat-datepicker #dpp></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field *ngIf="listCliente" appearance="outline" class="w-30-p  mat-caption m-2 p-4" fxFlex="100">
                            <mat-label>Cliente</mat-label>
                            <mat-select name="cliente" formControlName="cliente">
                                <mat-option *ngFor="let food of listCliente" [value]="food.id">
                                    {{ food.codigo }} {{ food.descripcion }}
                                </mat-option>
                             </mat-select>
                       </mat-form-field>

                        </form>

                        <mat-icon (click)="goFileContrato()" class="cpointer">cloud_download</mat-icon>
                        <mat-icon style="cursor: pointer; margin-left: 8px;" matTooltip="Descargar contratos en archivo zip" class="cpointer" (click)="this.api.downloadFile(gatUrlZip(), 'contratos.zip')" >attachment</mat-icon>
                    </mat-toolbar-row>
                </mat-toolbar>

                <table mat-table [dataSource]="dataEmpleado" class="content w-100-p mat-elevation-z8">


                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell class=""  *matCellDef="let element"> {{element?.id}} </td>
                    </ng-container>

                    <!-- Nombre Nombre -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell class="" *matCellDef="let element"> {{element?.name}} </td>
                    </ng-container>

                    <!-- Nombre Fecha -->
                    <ng-container matColumnDef="created_at">
                        <th mat-header-cell class="text-center" *matHeaderCellDef> Fecha creación </th>
                        <td mat-cell class="text-center" *matCellDef="let element"> {{element?.created_at | date:'dd/MM/yyyy' }} </td>
                    </ng-container>

                    <!-- Nombre Accion -->
                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef> Imprimir </th>
                        <td mat-cell class="" *matCellDef="let element">
                            <mat-icon (click)="goToLink(element)"   class="cpointer" matTooltip="Contrato">library_books</mat-icon>
                            <mat-icon (click)="goFile(element?.id)" class="cpointer" matTooltip="Finiquito">description</mat-icon>
                            <mat-icon (click)="_firmar(element?.id)" class="cpointer" matTooltip="Firmar">gesture</mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row (dblclick)="goToLink(row)"  *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </div>
    <!-- / CONTENT-->

</div>

<!-- ADD CONTACT BUTTON -->
<button mat-fab class="accent" id="add-contact-button" [data]="{titulo:'empleado'}" postulante-new-dialog aria-label="Nuevo empleado"
        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
    <mat-icon>person_add</mat-icon>
</button>
<!-- / ADD CONTACT BUTTON -->

