<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">description
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    finiquito
                </span>
            </div>

        </div>
        <!-- / APP TITLE -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content w-100-p">

        <!-- CENTER -->
        <div class="center w-100-p p-24 pb-56 pr-sm-92" fusePerfectScrollbar>

            <!-- CONTENT -->
            <div class="content" *ngIf="dataFiniquito" >
                <mat-toolbar >
                    <mat-toolbar-row class="bg-white" >
                        <mat-icon finiquito-new-dialog [data]="{CLA: 'finiquito', filter: displayFilter}" [width]="600" class="cpointer">note_add</mat-icon>
                        <mat-icon filter-dialog [data]="{CLA: 'finiquito', filter: displayFilter}" (afterClosed)="_setSearch($event)" [width]="450" class="cpointer">search</mat-icon>
                        <mat-icon (click)="dataTable()" class="cpointer">autorenew</mat-icon>
                        <mat-icon (click)="filecvs.click()" class="cpointer">backup</mat-icon>
                        <mat-icon (click)="goFile()" class="cpointer">cloud_download</mat-icon>
                        <label form="filecvs" mat-raised-button color="accent" class="labelInput">
                            <input hidden type="file" name="filecvs" #filecvs accept=".csv,.xls,.xlsx" (change)="_setFile($event)">
                        </label>
                        <span class="example-spacer"></span>
                        <mat-paginator
                                [length]="dataSource?.total"
                                [pageSize]="dataSource?.per_page" [pageIndex]="0" (page)="next($event)">
                        </mat-paginator>
                    </mat-toolbar-row>
                </mat-toolbar>

                <table mat-table [dataSource]="dataFiniquito" class="content w-100-p mat-elevation-z8">


                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell class=""  *matCellDef="let element"> {{element?.id}} </td>
                    </ng-container>

                    <!-- Nombre Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell class="" *matCellDef="let element"> {{element?.name}} </td>
                    </ng-container>

                    <!-- Nombre Column -->
                    <ng-container matColumnDef="fecha_inicio">
                        <th mat-header-cell *matHeaderCellDef> Fecha inicio </th>
                        <td mat-cell class="" *matCellDef="let element">{{ fech_formar(element?.fecha_inicio)}} </td>
                    </ng-container>

                    <!-- Nombre Column -->
                    <ng-container matColumnDef="fecha_fin">
                        <th mat-header-cell *matHeaderCellDef> Fecha fin </th>
                        <td mat-cell class="" *matCellDef="let element"> {{fech_formar(element?.fecha_fin)}} </td>
                    </ng-container>

                    <!-- Nombre Column -->
                    <ng-container matColumnDef="created_at">
                        <th mat-header-cell *matHeaderCellDef> Fecha creación </th>
                        <td mat-cell class="" *matCellDef="let element"> {{element?.created_at | date:'short' }} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row (click)="goToLink(row)"  *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>



            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </div>
    <!-- / CONTENT-->

</div>
