<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <!-- HEADER -->
    <div class="header accent p-4 p-sm-24" fxLayout="column" fxLayoutAlign="start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Finiquito Nº
                </span>
            </div>

        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content w-100-p">

        <!-- CENTER -->
        <div class="center w-100-p p-24 pb-56 pr-sm-92" fusePerfectScrollbar>

            <!-- CONTENT -->
            <div class="content" *ngIf="datafiniquito">
                <mat-accordion class="addresses">

                    <mat-expansion-panel *ngFor="let parrafo of datafiniquito">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="pt-2">
                                {{parrafo.position}}

                                {{parrafo.name}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div fxFlex="90" fxLayout="column"  class="w-90-p">
                            <div class="address h4 py-24" [innerHTML]="parrafo.contenido">
                            </div>
                        </div>

                        <div fxFlex="10" fxLayout="column" class="w-10-p">
                            <button mat-button (click)="_delete(parrafo)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <mat-menu #appMenu="matMenu">
                                <button mat-menu-item *ngFor="let pos of contador" (click)="_cPosition(parrafo, pos.value)">{{pos.value}}</button>
                            </mat-menu>

                            <button mat-button [matMenuTriggerFor]="appMenu">
                                <mat-icon>swap_vert</mat-icon>
                            </button>
                        </div>
                    </mat-expansion-panel>

                </mat-accordion>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </div>
    <!-- / CONTENT-->

</div>


