<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-sm
                    (click)="toggleSidebar('contacts-main-sidebar')">
                <mat-icon>menu</mat-icon>
            </button>

            <button mat-icon-button class="autorenew mr-12" fxHide.gt-sm
                    (click)="dataTable()">
                <mat-icon>autorenew</mat-icon>
            </button>

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Postulante
                </span>
            </div>

        </div>
        <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content w-100-p">

        <!-- CENTER -->
        <div class="center w-100-p p-24 pb-56 pr-sm-92" fusePerfectScrollbar>

            <!-- CONTENT -->
            <div class="content" *ngIf="dataPostulante" >
                <mat-toolbar >
                    <mat-toolbar-row class="bg-white" >
                        <mat-icon postulante-new-dialog [disableClose]="true" >person_add</mat-icon>
                        <mat-icon filter-dialog [data]="{CLA: 'postulante', filter: displayFilter}" (afterClosed)="_setSearch($event)" [width]="450">search</mat-icon>
                        <mat-icon (click)="dataTable()">autorenew</mat-icon>
                        <span class="example-spacer"></span>
                        <mat-paginator
                                [length]="dataSource?.total"
                                [pageSize]="dataSource?.per_page" [pageIndex]="0" (page)="next($event)">
                        </mat-paginator>
                    </mat-toolbar-row>
                </mat-toolbar>

                    <table mat-table [dataSource]="dataPostulante" class="content w-100-p mat-elevation-z8">

                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell class=""  *matCellDef="let element"> {{element?.id}} </td>
                        </ng-container>

                        <!-- Nombre Column -->
                        <ng-container matColumnDef="nombres">
                            <th mat-header-cell *matHeaderCellDef> Nombres </th>
                            <td mat-cell class="" *matCellDef="let element"> {{element?.nombres}} </td>
                        </ng-container>

                        <!-- apellidos Column -->
                        <ng-container matColumnDef="apellido_paterno">
                            <th mat-header-cell class="text-center"  *matHeaderCellDef> Apellido paterno </th>
                            <td mat-cell class="text-center"  *matCellDef="let element"> {{element?.apellido_paterno}} </td>
                        </ng-container>

                        <!-- apellidos Column -->
                        <ng-container matColumnDef="apellido_materno">
                            <th mat-header-cell class="text-center" *matHeaderCellDef> Apellido materno</th>
                            <td mat-cell class="text-center" *matCellDef="let element"> {{element?.apellido_materno}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="identificacion">
                            <th mat-header-cell *matHeaderCellDef> Identificacion </th>
                            <td mat-cell class="" *matCellDef="let element"> {{element?.rut ? element?.rut : element?.pasaporte }} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="fecha_postulacion">
                            <th mat-header-cell class="text-center" *matHeaderCellDef> Fecha de postulacion </th>
                            <td mat-cell class="text-center" *matCellDef="let element"> {{element?.fecha_postulacion | date:'d/MM/yyyy'}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row postulante-dialog  *matRowDef="let row; columns: displayedColumns;" (afterClosed)="dataTable()" [data]="{data: row, 'titulo':'Postulante'}" [width]="700"></tr>
                    </table>



            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </div>
    <!-- / CONTENT-->

</div>

<!-- ADD CONTACT BUTTON -->
<button mat-fab class="accent" id="add-contact-button" [data]="{titulo:'postulante'}" postulante-new-dialog aria-label="Nuevo postulante"
        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
    <mat-icon>person_add</mat-icon>
</button>
<!-- / ADD CONTACT BUTTON -->

