<h2 mat-dialog-title>Completar vacante</h2>
<mat-dialog-content class="px-2 border-vertical">
<div mat-dialog-content class="p-24 pb-0 m-0">
<form [formGroup]="dialogForm">
    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" class="w-90-p mat-caption m-2">
            <input type="text"
                    placeholder="Empleado"
                    aria-label="Number"
                    matInput
                    formControlName="empleado_id"
                    [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option.id"
                            [disabled]="option.afp === '0'" [ngClass]="option.afp === '0' ? 'bg-warning' : 'bg-success'">
                    {{option.nombres}} {{ option.rut !== '0' ? option.rut : option.pasaporte}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-icon  (click)="this.dataGetContratoxempleado();" style="cursor: pointer;"  matTooltip="Generar contrato" *ngIf="!segundoPaso">navigate_next</mat-icon>
        <mat-icon   matTooltip="Generar contrato" *ngIf="segundoPaso">expand_more</mat-icon>
    </div>        
    <div fxLayout="row" fxLayoutAlign="start start" *ngIf="segundoPaso">
        <mat-form-field *ngIf="data.dispo.externos" appearance="outline" class="w-90-p mat-caption m-2" fxFlex="100">
            <mat-label>Vacante</mat-label>
            <mat-select name="vacante" formControlName="vacante">
                <mat-option [value]="null">
                    Seleccione una vacante
                </mat-option>
                <mat-option *ngFor="let food of listaOp" [value]="food.numero">
                    {{ food.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div> 
    <div fxLayout="row" fxLayoutAlign="start start" *ngIf="segundoPaso">     
        <mat-form-field appearance="outline" class="w-90-p mat-caption m-2">
            <mat-label>Fecha de inicio</mat-label>
            <input matInput [matDatepicker]="dpp" [matDatepickerFilter]="myFilter" [min]="minDate" [max]="maxDate" name="fecha_inicio" formControlName="fecha_inicio"  required>
            <mat-datepicker-toggle matSuffix [for]="dpp"></mat-datepicker-toggle>
            <mat-datepicker #dpp  ></mat-datepicker>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" *ngIf="segundoPaso">
        <mat-form-field appearance="outline" class="w-90-p mat-caption m-2">
            <mat-label>Fecha de finalizacion</mat-label>
            <input matInput [matDatepicker]="dpp2" [matDatepickerFilter]="myFilter" [min]="minDate" [max]="maxDate" name="fecha_fin" formControlName="fecha_fin"  required>
            <mat-datepicker-toggle matSuffix [for]="dpp2"></mat-datepicker-toggle>
            <mat-datepicker #dpp2></mat-datepicker>
        </mat-form-field>
    </div>
</form>
<div></div>
<div fxLayout="row" fxLayoutAlign="start start" *ngIf="contratos.length >0 && segundoPaso">
    El empleado tiene contratos para el periodo seleccionado.
</div>
<mat-chip-list aria-label="Fish selection" style="margin-left: 5px;" *ngIf="contratos.length >0 && segundoPaso">
    <mat-chip  *ngFor="let food of contratos" color="primary" style="background-color:green; color: floralwhite; font-size: 8px;">
        Contrato {{food.cargo}} desde {{food.fecha_inicio}} hasta {{food.fecha_fin}}
    </mat-chip>
</mat-chip-list>
<div fxLayout="row" style="margin-left: 5px; margin-top: 4px; font-size: 10px;" fxLayoutAlign="start start" *ngIf="contratos.length >0 && segundoPaso">
    ¿Quiere usar el contrato para la vacante?
</div>
<div fxLayout="row" style="margin-left: 5px; margin-top: 4px; font-size: 10px;" fxLayoutAlign="start start" *ngIf="contratos.length >0 && segundoPaso">
    <mat-slide-toggle [(ngModel)]="isChecked"> {{isChecked}}</mat-slide-toggle>
</div>
<mat-chip-list aria-label="Fish selection">
    <mat-chip  *ngFor="let food of listaVacante" color="primary" [ngStyle]="food.estado=='completado'?{'background-color':'#8bc34a'} : {'background-color': 'dodgerblue'}"
    style=" color: floralwhite; font-size: 12px;">
        {{food.empleado[0].nombres}} {{food.empleado[0].apellido_paterno}} {{food.empleado[0].apellido_materno}} {{food.fecha_inicio}} {{food.fecha_fin}}  
        <button mat-button (click)="_delete(food.id)" style="width: 10px;">  <mat-icon >delete</mat-icon> </button>
    </mat-chip>
  </mat-chip-list>
</div>
</mat-dialog-content>
<div fxLayout="row" fxLayoutAlign="end center">
    <button mat-button (click)="_setDialog()" *ngIf="agregar">
        Agregar
    </button>
    <button mat-button (click)="_setCierre()">
        Cerrar
    </button>
</div>
