<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img [src]="contact.avatar" class="avatar contact-avatar huge m-0" [alt]="contact.name" />
            <div class="contact-name mt-8">{{contact.name}} {{contact.lastName}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="contactForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Tipo identificación</mat-label>
                    <mat-icon matSuffix class="secondary-text">supervised_user_circle</mat-icon>
                    <!-- input name="profile" formControlName="profile" matInput -->
                    <mat-select name="tipo_identificacion" formControlName="tipo_identificacion">
                        <mat-option *ngFor="let food of api.displayDtipo" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Numero de identificación</mat-label>
                    <mat-icon matSuffix class="secondary-text">rate_review</mat-icon>
                    <input name="identificacion" formControlName="identificacion" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Rol</mat-label>
                    <mat-icon matSuffix class="secondary-text">work</mat-icon>
                    <!-- input name="profile" formControlName="profile" matInput -->
                    <mat-select name="profile" formControlName="profile">
                        <mat-option *ngFor="let food of perfil" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Nombre</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="name" formControlName="name" matInput required>
                </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Apellido</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="lastName" formControlName="lastName" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Clave</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input type="password" name="password" formControlName="password" matInput *ngIf=" this.dialogTitle == 'Nuevo usuario'" required>
                    <input type="password" name="password" formControlName="password" matInput *ngIf=" this.dialogTitle != 'Nuevo usuario'">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Repita clave</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input type="password" name="c_password" formControlName="c_password" matInput *ngIf=" this.dialogTitle == 'Nuevo usuario'" required>
                    <input type="password" name="c_password" formControlName="c_password" matInput *ngIf=" this.dialogTitle != 'Nuevo usuario'">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Email</mat-label>
                    <mat-icon matSuffix class="secondary-text">email</mat-icon>
                    <input name="email" formControlName="email" matInput type="email" required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Telefono</mat-label>
                    <mat-icon matSuffix class="secondary-text">call</mat-icon>
                    <input name="telefono" formControlName="telefono" matInput type="telefono" required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Pais</mat-label>
                    <mat-icon matSuffix class="secondary-text">language</mat-icon>
                    <!-- input name="profile" formControlName="profile" matInput -->
                    <mat-select name="pais" formControlName="pais">
                        <mat-option *ngFor="let food of api.displayPais" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Direccion</mat-label>
                    <mat-icon matSuffix class="secondary-text">location_on</mat-icon>
                    <input name="direccion" formControlName="direccion" matInput type="direccion" required>
                </mat-form-field>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'" mat-button class="mr-8" (click)="matDialogRef.close(['delete',contactForm])" aria-label="Delete" matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'" mat-button class="save-button" (click)="matDialogRef.close(contactForm)" [disabled]="contactForm.invalid" aria-label="SAVE">
            Guardar
        </button>

        <button *ngIf="action === 'edit'" mat-button class="save-button" (click)="matDialogRef.close(['save',contactForm])" [disabled]="contactForm.invalid" aria-label="SAVE">
            Guardar
        </button>

    </div>
</div>