table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.bg-white{
  background-color: white;
}

.PEND{
  color: #FFC107;
}
.APRO{
  color: #FFC107;
}
.FINA{
  color: #8BD649;
}
.RECH{
  color: #CB4B16;
}
