table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.bg-white{
  background-color: white;
}
mat-icon{
  cursor: pointer;
}
.text-center{
  text-align: center;
}
.azul{
  background-color: dodgerblue;
  color: white;
}

.verde{
  background-color: #8bc34a;
  color: white;
}

.gris{
  background-color: gray;
  color: white;
}
