<div fxLayout="row" fxLayoutAlign="start center">


    <div class="info" fxFlex FlexLayout="column" [style.color]="estadoColor(mail.dispositivo)">

        <div class="row-1" fxLayout="row" fxLayoutAlign="start center">
            <div class="name" fxLayout="row" fxLayoutAlign="start center" fxFlex>
                #{{mail.id}} {{mail.emisorName}} {{mail.emisorLastName}} [{{mail.estado}}]
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="time">{{mail.created_at | date:'d/M/y h:mm a'}}</div>
            </div>
        </div>

        <div class="row-2" fxLayout="row" fxLayoutAlign="start center">

            <div fxLayout="column" fxLayoutAlign="start start">
                <div class="subject text-truncate">
                    Receptor: {{mail.receptorsNombre}} {{mail.receptors_apellido}}
                </div>
                <div class="message text-truncate" *ngIf="mail?.monto">
                    {{mail.monto | currency | slice:0:180}}{{mail.message.length > 180 ? '...' : ''}}
                    {{mail.moneda_ent_pais}} -> {{mail.moneda_sal_pais}}
                </div>
                <div class="labels" fxLayout="row wrap" fxHide fxShow.gt-sm>
                    <div class="label" *ngFor="let labelId of mail.labels"
                         fxLayout="row" fxLayoutAlign="start center">
                        <div class="label-color"
                             [ngStyle]="{'background-color': labels | getById:labelId:'color'}"></div>
                        <div class="label-title">{{labels | getById:labelId:'title'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
