<div style="height: 100%; overflow-x: hidden; width: 100%">
    <form [formGroup]="employForm" (ngSubmit)="submitEmployForm(employForm)">
        <div style="height:200px">
            <div class="relative" style="height: 100%;">
                <canvas-whiteboard
                    #canvasWhiteboard
                    [options]="canvasOptions"
                    (onSave)="checkFile($event)"
                    (onBatchUpdate)="sendBatchUpdate($event)"
                >
                </canvas-whiteboard>
                <p class="hint-firma">Ingresa tu firma en este recuadro para avanzar</p>
            </div>
        </div>
        <div class="flex flex-wrap">
            <mat-form-field class="f7 w-50 pa2" appearance="outline">
                <mat-label>Tipo de documento</mat-label>
                <mat-select required formControlName="tipo">
                    <mat-option value="RUT">RUT</mat-option>
                    <mat-option value="Pasaporte">Pasaporte</mat-option>
                </mat-select>
                <mat-error>Tipo de documento es un campo requerido</mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="employForm.get('tipo').value === 'Pasaporte'" class="f7 w-50 pa2" appearance="outline">
                <mat-label>N° de Pasaporte</mat-label>
                <input matInput autocomplete="off" name="user" formControlName="pasaporte" type="text" placeholder="Pasaporte">
                <mat-error>Debe ingresar un pasaporte válido</mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="employForm.get('tipo').value === 'RUT'" class="f7 w-50 pa2" appearance="outline">
                <mat-label>RUT</mat-label>
                <!-- 9[9.999.99]-[9|K|k] -->
                <input
                    matInput
                    autocomplete="off"
                    name="user"
                    formControlName="rut"
                    type="text"
                    placeholder="RUT">
                <mat-error>Debe ingresar un RUT válido</mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="employForm.get('tipo').value === 'RUT'" class="f7 w-50 pa2" appearance="outline">
                <mat-label>Número de documento</mat-label>
                <input 
                    matInput 
                    autocomplete="off" 
                    [dropSpecialCharacters]="false"
                    name="user" 
                    mask="000.000.000"
                    formControlName="numero_de_documento" 
                    type="text" 
                    placeholder="Número de documento">
                <mat-error>Debe ingresar un número de documento válido</mat-error>
            </mat-form-field>
        </div>
        <div class="botton-button-wrapper pa2">
            <button color="primary" [disabled]="employForm.invalid || !hasDraw" mat-flat-button type="submit">Guardar</button>
        </div>
    </form>
</div>